<div class="ml-5">
  <h1>Users</h1>
  <button
    class="btn btn-neutral w-24 mr-1"
    (click)="addUserFormOpen = !addUserFormOpen"
  >
    Show Add
  </button>
  <button
    class="btn btn-warning w-24"
    (click)="delete()"
    [disabled]="!selectedUser"
  >
    Delete
  </button>

  <user-form
    *ngIf="addUserFormOpen"
    class="mr-5"
    (onSave)="add($event)"
  ></user-form>

  <div class="overflow-x-auto">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody *ngIf="users$ | async as users">
        <tr
          *ngFor="let user of users"
          [class]="{ 'bg-base-200': user === selectedUser }"
          (click)="selectUser(user)"
        >
          <th>{{ user.id }}</th>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
